@font-face {
    font-family: 'Bold-700';
    src: url(../fonts/SpaceMono-Bold.ttf);
}

@font-face {
    font-family: 'VariableFont-400';
    src: url(../fonts/LexendDeca-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.container {
    width: 1440px;
    height: 1650px;
    background-color: white;
}

.header {
    width: 1106px;
    height: 53px;
    /* background-color: aqua; */
    margin-top: 20px;
}

.logo {
    width: 107.82px;
    height: 28.56px;
    margin-top: 10px;
}

.nav {
    width: 249px;
    height: 25px;
    list-style-type: none;
    display: flex;
    margin-top: -20px;
    margin-left: 200px;
    gap: 20px;
    font-family: 'VariableFont-400';
}

.href {
    text-decoration: none;
    transition: .5s;
    

}

.href:hover {
    cursor: pointer;
    color: #FCB72B;
    transition: .5s;
}
.home{
    margin-left: -900px;
}
.nav_ul {
    text-decoration: none;
    color: gray;
    transition: .5s;
}

.nav_ul:hover {
    color: #FCB72B;
}

.header_btn {
    width: 180px;
    height: 53px;
    background: #FCB72B;
    border: none;
    color: white;
    margin-left: 925px;
    position: relative;
    top: -38px;
    transition: .5s;
}

.header_btn:hover {
    cursor: pointer;
    transition: .5s;
    background: none;
    color: #FCB72B;
    border: 2px solid #FCB72B;
}

.main_img {
    margin-top: 30px;
}

.section_img {
    width: 1110px;
    height: 543px;
    margin-top: 150px;
    margin-left: 100px;
}

.section_box {
    width: 1111px;
    height: 100px;
    /* border: 2px solid black; */
    margin-top: 150px;
}

.section_box_text {
    width: 351px;
    height: 96px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.142857074737549px;
    text-align: left;
    font-family: 'Bold-700';
    margin-left: 0px;
    color: #495567;

}

.section_box_text_small {
    width: 445px;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    font-family: 'VariableFont-400';
    margin-top: -100px;
    margin-left: 400px;
    color: #939CAA;

}

.section_box_btn {
    width: 180px;
    height: 53px;
    background: #FCB72B;
    border: none;
    color: white;
    font-family: 'Bold-700';
    transition: .5s;
    margin-left: 930px;
    /* padding-bottom: -100px; */
    position: relative;
    top: -70px;
}

.section_box_btn:hover {
    color: #FCB72B;
    background: none;
    border: 3px solid #FCB72B;
    cursor: pointer;
    transition: .5s;
}
.footer {
    width: 1440px;
    height: 396px;

}

.content {
    width: 1440px;
    height: 300px;
    background: #495567;
    margin-top: 100px;
}

.footer_text_title {
    width: 415px;
    height: 96px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.142857074737549px;
    text-align: left;
    font-family: 'Bold-700';
    color: white;
    margin-left: 200px;
    padding-top: 100px;
}

.href {
    margin-left: 920px;

}

.grow {
    width: 1440px;
    height: 96px;
    background: #333A44;

}

.footer_logo {
    width: 107.82px;
    height: 28.56px;
    margin-top: 40px;
    margin-left: 200px;
}

.footer_text_ul {
    width: 249px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #939CAA;
    margin-top: -30px;
    margin-left: 400px;
}

.sharing {
    width: 120px;
    height: 24px;
    gap: 5px;
    margin-left: 1180px;
    margin-top: -20px;
}